# Create the Adaptive Capacity Matrix

The objective of this notebook is to create the final output for the adaptive capacity survey. The output is a matrix where the columns are the different indicators of adaptive capacity and the rows are fishers (respodents). Demographic information will also be included.

**Assets**<br>
AS1: Material goods <br>
AS2: Access to fishig gear <br>
AS3: Access to boats <br>
AS4: Access to savings, credit, and loans<br>
**Organization** <br>
O1: Pariticipation in community groups <br>
O2: Membership in CCP <br>
O3: Participation in CCP <br>
O4: Capacity to act collectively <br>
**Learning** <br>
L1: Ability to recognize change <br>
L2: Ability to recognize causility <br>
L3: Ability to recognize SG ES <br>
L4: Knowledge of seagrass management <br>
L5: Formal education <br>
L6: Local knowledge <br>
**Flexibility**<br>
F1: Capacity to modify fishing practice <br>
F2: Capacity to leave fishing <br>
**Agency**<br>
AG1: Ability to respond to change <br>
AG2: Decision making power<br>

In [405]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np
from zipfile import ZipFile
import seaborn as sns
import os
import math

In [406]:
df = pd.read_csv('/home/rthoms/ocean_dep/sur_C/adaptive_cap_clean.csv')

In [407]:
df.columns

Index(['Unnamed: 0', 'id', 'date', 'ccp', 'gender', 'age', 'birth_place',
       'mar_status', 'ed_level', 'house_head', 'glean', 'electricity',
       'fridge_freezer', 'fridge_freezer_num', 'water', 'matress',
       'matress_num', 'mobile_phone', 'mobile_phone_num', 'smart_phone',
       'smart_phone_num', 'fan', 'fan_num', 'tv', 'tv_num', 'radio',
       'radio_num', 'stove', 'stove_num', 'transport', 'transport_num',
       'floor', 'floor_other', 'wall', 'wall_other', 'roof', 'roof_other',
       'access_credit_loans', 'community_participation', 'ccp_member',
       'ccp_participation', 'decision_making_manag', 'decision_making_fish',
       'change_seagrass', 'direction_change_seagrass',
       'causes_change_seagrass', 'change_fish', 'direction_change_resources',
       'causes_change_resources', 'link_seagrass_resources',
       'capacity_change_practice', 'capacity_change_livelihood',
       'capacity_organize', 'local_knowledge', 'agency_change_seagrass',
       'agency_change_seagrass_other', 'agency_change_capture',
       'agency_change_capture_other', 'action_seagrass',
       'action_seagrass_other', 'human_mang_seagrass', 'action_capture',
       'action_capture_other', 'human_mang_capture', 'gear', 'hours',
       'cap_daily_total', 'value', 'persons', 'pract_cat', 'cpue'],
      dtype='object')

In [408]:
# function to pull item from dict
def set_scale(dic,indicator):
    scale=dic[indicator]
    return scale

In [409]:
def index(val, min, max):
    index = (val-min)/(max-min)
    return index

## Assets
### AS4
Access to savings, credit, and loans

In [410]:
print(df['access_credit_loans'].unique())

['none' 'rotating_savings' 'NR' 'bank']

In [411]:
# create a dictionary to replace descriptive scale values with interger scale values
credit_loan_dict = {'bank':2,'rotating_savings':1,'none':0,'NR': None}

# apply function
df['AS4_scalar']=df.apply(lambda row: set_scale(credit_loan_dict, row['access_credit_loans']), axis=1 )
df[['pract_cat','access_credit_loans','AS4_scalar']]

     pract_cat access_credit_loans  AS4_scalar
0        glean                none         0.0
1        glean    rotating_savings         1.0
2         fish                none         0.0
3        glean                none         0.0
4   shrimp_net                none         0.0
..         ...                 ...         ...
94  shrimp_net                none         0.0
95  shrimp_net    rotating_savings         1.0
96  shrimp_net                none         0.0
97       glean                none         0.0
98        fish    rotating_savings         1.0

[99 rows x 3 columns]

In [412]:
df['AS4_index']=df.apply(lambda row: index(row['AS4_scalar'],0,2), axis=1 )
df[['pract_cat','access_credit_loans','AS4_scalar','AS4_index']]

     pract_cat access_credit_loans  AS4_scalar  AS4_index
0        glean                none         0.0        0.0
1        glean    rotating_savings         1.0        0.5
2         fish                none         0.0        0.0
3        glean                none         0.0        0.0
4   shrimp_net                none         0.0        0.0
..         ...                 ...         ...        ...
94  shrimp_net                none         0.0        0.0
95  shrimp_net    rotating_savings         1.0        0.5
96  shrimp_net                none         0.0        0.0
97       glean                none         0.0        0.0
98        fish    rotating_savings         1.0        0.5

[99 rows x 4 columns]

## Organization 
### O1 
Participation in community groups

In [413]:
print(df['community_participation'].unique())

['yes' 'no']

In [414]:
# create a dictionary to replace descriptive scale values with interger scale values
y_n_dic = {'yes':1,'no':0,'NR': None, 'not recorded': None}

# apply function
df['O1_scalar']=df.apply(lambda row: set_scale(y_n_dic, row['community_participation']), axis=1 )
df[['pract_cat','community_participation','O1_scalar']]

     pract_cat community_participation  O1_scalar
0        glean                     yes          1
1        glean                     yes          1
2         fish                      no          0
3        glean                     yes          1
4   shrimp_net                      no          0
..         ...                     ...        ...
94  shrimp_net                      no          0
95  shrimp_net                     yes          1
96  shrimp_net                      no          0
97       glean                      no          0
98        fish                     yes          1

[99 rows x 3 columns]

In [415]:
df['O1_index']=df['O1_scalar']

### O2 
Membership in CCP

In [416]:
print(df['ccp_member'].unique())

['non-member' 'member']

In [417]:
# create a dictionary to replace descriptive scale values with interger scale values
member_dic = {'member':1,'non-member':0,'NR': None}

# apply function
df['O2_scalar']=df.apply(lambda row: set_scale(member_dic, row['ccp_member']), axis=1 )
df[['pract_cat','ccp_member','O2_scalar']]

     pract_cat  ccp_member  O2_scalar
0        glean  non-member          0
1        glean      member          1
2         fish  non-member          0
3        glean  non-member          0
4   shrimp_net  non-member          0
..         ...         ...        ...
94  shrimp_net  non-member          0
95  shrimp_net      member          1
96  shrimp_net  non-member          0
97       glean  non-member          0
98        fish      member          1

[99 rows x 3 columns]

In [418]:
df['O2_index']=df['O2_scalar']

### O3 
Participation in CCP

In [419]:
print(df['ccp_participation'].unique())

['paticipates regularly' 'does not\nparticipate' 'not recorded']

In [420]:
# create a dictionary to replace descriptive scale values with interger scale values
participation_dic = {'paticipates regularly':1,'does not\nparticipate':0,'not recorded': None}

# apply function
df['O3_scalar']=df.apply(lambda row: set_scale(participation_dic, row['ccp_participation']), axis=1 )
df[['pract_cat','ccp_participation','O3_scalar']]

     pract_cat      ccp_participation  O3_scalar
0        glean  paticipates regularly        1.0
1        glean  paticipates regularly        1.0
2         fish  paticipates regularly        1.0
3        glean  paticipates regularly        1.0
4   shrimp_net  does not\nparticipate        0.0
..         ...                    ...        ...
94  shrimp_net  does not\nparticipate        0.0
95  shrimp_net  paticipates regularly        1.0
96  shrimp_net  does not\nparticipate        0.0
97       glean  does not\nparticipate        0.0
98        fish  paticipates regularly        1.0

[99 rows x 3 columns]

In [421]:
df['O3_index']=df['O3_scalar']

### O4 
Capacity to organize

In [422]:
print(df['capacity_organize'].unique())

['agree strongly' 'disagree strongly']

In [423]:
# create a dictionary to replace descriptive scale values with interger scale values
likert_dic = {'agree strongly':2, 'agree slightly':1, 'neutral':0, 'disagree slightly': -1, 'disagree strongly':-2,'NR': None}

# apply function
df['O4_scalar']=df.apply(lambda row: set_scale(likert_dic, row['capacity_organize']), axis=1 )
df[['pract_cat','capacity_organize','O4_scalar']]

     pract_cat capacity_organize  O4_scalar
0        glean    agree strongly          2
1        glean    agree strongly          2
2         fish    agree strongly          2
3        glean    agree strongly          2
4   shrimp_net    agree strongly          2
..         ...               ...        ...
94  shrimp_net    agree strongly          2
95  shrimp_net    agree strongly          2
96  shrimp_net    agree strongly          2
97       glean    agree strongly          2
98        fish    agree strongly          2

[99 rows x 3 columns]

In [424]:
df['O4_index']=df.apply(lambda row: index(row['O4_scalar'],-2,2), axis=1 )
df[['pract_cat','capacity_organize','O4_scalar','O4_index']]

     pract_cat capacity_organize  O4_scalar  O4_index
0        glean    agree strongly          2       1.0
1        glean    agree strongly          2       1.0
2         fish    agree strongly          2       1.0
3        glean    agree strongly          2       1.0
4   shrimp_net    agree strongly          2       1.0
..         ...               ...        ...       ...
94  shrimp_net    agree strongly          2       1.0
95  shrimp_net    agree strongly          2       1.0
96  shrimp_net    agree strongly          2       1.0
97       glean    agree strongly          2       1.0
98        fish    agree strongly          2       1.0

[99 rows x 4 columns]

## Learning
### L1
Ability to recognize change

In [425]:
print(df['direction_change_seagrass'].unique())

['less' 'no change' 'significantly less' 'more' 'not recorded' 'not sure'
 'significantly more']

In [426]:
# create a dictionary to replace descriptive scale values with interger scale values
change_dic = {'significantly less':1,'less':1,'no change':0,'not sure':0,'more':0,'significantly more': 0, 'not recorded': None}

# apply function
df['L1_scalar']=df.apply(lambda row: set_scale(change_dic, row['direction_change_seagrass']), axis=1 )
df[['pract_cat','direction_change_seagrass','L1_scalar']]

     pract_cat direction_change_seagrass  L1_scalar
0        glean                      less        1.0
1        glean                 no change        0.0
2         fish        significantly less        1.0
3        glean                      more        0.0
4   shrimp_net                 no change        0.0
..         ...                       ...        ...
94  shrimp_net        significantly less        1.0
95  shrimp_net        significantly less        1.0
96  shrimp_net                      less        1.0
97       glean                      less        1.0
98        fish        significantly less        1.0

[99 rows x 3 columns]

In [427]:
df['L1_index']=df['L1_scalar']

### L2
Ability to recognize causility

In [428]:
print(df['causes_change_seagrass'].unique())

["['climate_change']" "['no_decrease_perceived']" "['destructive_gear']"
 "['destructive_gear', 'climate_change']" "['unsure']" "['NR']"
 "['fishing_pressure', 'destructive_gear']" "['fishing_pressure']"
 "['fishing_pressure', 'destructive_gear', 'climate_change']"
 "['destructive_gear', 'other']" "['other']"]

In [429]:
def recognize(response):
    if 'unsure' in response:
        return 0
    elif 'no_decrease_perceived' in response:
        return None
    elif 'NR' in response: 
        return None
    else:
        return 1

In [430]:
df['L2_scalar']=df.apply(lambda row: recognize(row['causes_change_seagrass']), axis=1 )
df[['pract_cat','causes_change_seagrass','L2_scalar']]

     pract_cat     causes_change_seagrass  L2_scalar
0        glean         ['climate_change']        1.0
1        glean  ['no_decrease_perceived']        NaN
2         fish       ['destructive_gear']        1.0
3        glean  ['no_decrease_perceived']        NaN
4   shrimp_net  ['no_decrease_perceived']        NaN
..         ...                        ...        ...
94  shrimp_net         ['climate_change']        1.0
95  shrimp_net       ['destructive_gear']        1.0
96  shrimp_net                  ['other']        1.0
97       glean                 ['unsure']        0.0
98        fish       ['destructive_gear']        1.0

[99 rows x 3 columns]

In [431]:
df['L2_index']=df['L2_scalar']

### L3 
Ability to recognize SG ES

In [432]:
print(df['link_seagrass_resources'].unique())

['unsure' 'not associated' 'associated' 'not recorded']

In [433]:
# create a dictionary to replace descriptive scale values with interger scale values
link_dic = {'associated':1,'not associated':0,'unsure':0,'not recorded': None}

# apply function
df['L3_scalar']=df.apply(lambda row: set_scale(link_dic, row['link_seagrass_resources']), axis=1 )
df[['pract_cat','link_seagrass_resources','L3_scalar']]

     pract_cat link_seagrass_resources  L3_scalar
0        glean                  unsure        0.0
1        glean                  unsure        0.0
2         fish          not associated        0.0
3        glean          not associated        0.0
4   shrimp_net              associated        1.0
..         ...                     ...        ...
94  shrimp_net            not recorded        NaN
95  shrimp_net            not recorded        NaN
96  shrimp_net            not recorded        NaN
97       glean            not recorded        NaN
98        fish            not recorded        NaN

[99 rows x 3 columns]

In [434]:
df['L3_index']=df['L3_scalar']

### L4
Knowledge of seagrass management

In [435]:
print(df['human_mang_seagrass'].unique())

['no' 'yes' 'not recorded']

In [436]:
# apply function
df['L4_scalar']=df.apply(lambda row: set_scale(y_n_dic, row['human_mang_seagrass']), axis=1 )
df[['pract_cat','human_mang_seagrass','L4_scalar']]

     pract_cat human_mang_seagrass  L4_scalar
0        glean                  no        0.0
1        glean                  no        0.0
2         fish                 yes        1.0
3        glean                  no        0.0
4   shrimp_net                 yes        1.0
..         ...                 ...        ...
94  shrimp_net        not recorded        NaN
95  shrimp_net        not recorded        NaN
96  shrimp_net        not recorded        NaN
97       glean        not recorded        NaN
98        fish        not recorded        NaN

[99 rows x 3 columns]

In [437]:
df['L4_index']=df['L4_scalar']

### L5
Formal education

In [438]:
print(df['ed_level'].unique())

['primary' 'secondary' 'illiterate' 'NR']

In [439]:
# create a dictionary to replace descriptive scale values with interger scale values
ed_dic = {'illiterate':0,'primary':1,'secondary':2,'NR': None}

# apply function
df['L5_scalar']=df.apply(lambda row: set_scale(ed_dic, row['ed_level']), axis=1 )
df[['pract_cat','ed_level','L5_scalar']]

     pract_cat    ed_level  L5_scalar
0        glean     primary        1.0
1        glean   secondary        2.0
2         fish  illiterate        0.0
3        glean     primary        1.0
4   shrimp_net   secondary        2.0
..         ...         ...        ...
94  shrimp_net     primary        1.0
95  shrimp_net     primary        1.0
96  shrimp_net  illiterate        0.0
97       glean     primary        1.0
98        fish     primary        1.0

[99 rows x 3 columns]

In [440]:
df['L5_index']=df.apply(lambda row: index(row['L5_scalar'],0,3), axis=1 )
df[['pract_cat','ed_level','L5_scalar','L5_index']]

     pract_cat    ed_level  L5_scalar  L5_index
0        glean     primary        1.0  0.333333
1        glean   secondary        2.0  0.666667
2         fish  illiterate        0.0  0.000000
3        glean     primary        1.0  0.333333
4   shrimp_net   secondary        2.0  0.666667
..         ...         ...        ...       ...
94  shrimp_net     primary        1.0  0.333333
95  shrimp_net     primary        1.0  0.333333
96  shrimp_net  illiterate        0.0  0.000000
97       glean     primary        1.0  0.333333
98        fish     primary        1.0  0.333333

[99 rows x 4 columns]

### L6
Local knowledge

In [441]:
print(df['local_knowledge'].unique())

['agree slightly' 'disagree slightly' 'agree strongly' 'disagree strongly']

In [442]:
# apply function
df['L6_scalar']=df.apply(lambda row: set_scale(likert_dic, row['local_knowledge']), axis=1 )
df[['pract_cat','local_knowledge','L6_scalar']]

     pract_cat    local_knowledge  L6_scalar
0        glean     agree slightly          1
1        glean  disagree slightly         -1
2         fish     agree strongly          2
3        glean     agree strongly          2
4   shrimp_net     agree strongly          2
..         ...                ...        ...
94  shrimp_net     agree strongly          2
95  shrimp_net     agree strongly          2
96  shrimp_net  disagree strongly         -2
97       glean     agree strongly          2
98        fish     agree strongly          2

[99 rows x 3 columns]

In [443]:
df['L6_index']=df.apply(lambda row: index(row['L6_scalar'],-2,2), axis=1 )
df[['pract_cat','local_knowledge','L6_scalar','L6_index']]

     pract_cat    local_knowledge  L6_scalar  L6_index
0        glean     agree slightly          1      0.75
1        glean  disagree slightly         -1      0.25
2         fish     agree strongly          2      1.00
3        glean     agree strongly          2      1.00
4   shrimp_net     agree strongly          2      1.00
..         ...                ...        ...       ...
94  shrimp_net     agree strongly          2      1.00
95  shrimp_net     agree strongly          2      1.00
96  shrimp_net  disagree strongly         -2      0.00
97       glean     agree strongly          2      1.00
98        fish     agree strongly          2      1.00

[99 rows x 4 columns]

## Flexibility
### F1
Capacity to modify fishing practice

In [444]:
print(df['capacity_change_practice'].unique())

['agree strongly' 'disagree strongly' 'agree slightly' 'disagree slightly'
 'neutral']

In [445]:
# apply function
df['F1_scalar']=df.apply(lambda row: set_scale(likert_dic, row['capacity_change_practice']), axis=1 )
df[['pract_cat','capacity_change_practice','F1_scalar']]

     pract_cat capacity_change_practice  F1_scalar
0        glean           agree strongly          2
1        glean           agree strongly          2
2         fish           agree strongly          2
3        glean           agree strongly          2
4   shrimp_net           agree strongly          2
..         ...                      ...        ...
94  shrimp_net           agree strongly          2
95  shrimp_net           agree slightly          1
96  shrimp_net        disagree strongly         -2
97       glean           agree strongly          2
98        fish           agree strongly          2

[99 rows x 3 columns]

In [446]:
df['F1_index']=df.apply(lambda row: index(row['F1_scalar'],-2,2), axis=1 )
df[['pract_cat','capacity_change_practice','F1_scalar','F1_index']]

     pract_cat capacity_change_practice  F1_scalar  F1_index
0        glean           agree strongly          2      1.00
1        glean           agree strongly          2      1.00
2         fish           agree strongly          2      1.00
3        glean           agree strongly          2      1.00
4   shrimp_net           agree strongly          2      1.00
..         ...                      ...        ...       ...
94  shrimp_net           agree strongly          2      1.00
95  shrimp_net           agree slightly          1      0.75
96  shrimp_net        disagree strongly         -2      0.00
97       glean           agree strongly          2      1.00
98        fish           agree strongly          2      1.00

[99 rows x 4 columns]

### F2
Capacity to change livelihood

In [447]:
print(df['capacity_change_livelihood'].unique())

['agree strongly' 'disagree slightly' 'disagree strongly' 'agree slightly']

In [448]:
# apply function
df['F2_scalar']=df.apply(lambda row: set_scale(likert_dic, row['capacity_change_livelihood']), axis=1 )
df[['pract_cat','capacity_change_livelihood','F2_scalar']]

     pract_cat capacity_change_livelihood  F2_scalar
0        glean             agree strongly          2
1        glean             agree strongly          2
2         fish             agree strongly          2
3        glean             agree strongly          2
4   shrimp_net             agree strongly          2
..         ...                        ...        ...
94  shrimp_net             agree strongly          2
95  shrimp_net             agree strongly          2
96  shrimp_net          disagree strongly         -2
97       glean             agree strongly          2
98        fish          disagree strongly         -2

[99 rows x 3 columns]

In [449]:
df['F2_index']=df.apply(lambda row: index(row['F2_scalar'],-2,2), axis=1 )
df[['pract_cat','capacity_change_livelihood','F2_scalar','F2_index']]

     pract_cat capacity_change_livelihood  F2_scalar  F2_index
0        glean             agree strongly          2       1.0
1        glean             agree strongly          2       1.0
2         fish             agree strongly          2       1.0
3        glean             agree strongly          2       1.0
4   shrimp_net             agree strongly          2       1.0
..         ...                        ...        ...       ...
94  shrimp_net             agree strongly          2       1.0
95  shrimp_net             agree strongly          2       1.0
96  shrimp_net          disagree strongly         -2       0.0
97       glean             agree strongly          2       1.0
98        fish          disagree strongly         -2       0.0

[99 rows x 4 columns]

## Agency
### AG1
Ability to respond to change

In [450]:
print(df['agency_change_capture'].unique())

["['no_change']" "['leave']" "['fish_less']" 'not sure' "['other']"
 "['change_gear']" "['change_area']"]

In [451]:
def change(response):
    if 'not sure' in response:
        return 0
    elif 'no_change' in response:
        return 0
    else:
        return 1

In [452]:
df['AG1_scalar']=df.apply(lambda row: change(row['agency_change_capture']), axis=1 )
df[['pract_cat','agency_change_capture','AG1_scalar']]

     pract_cat agency_change_capture  AG1_scalar
0        glean         ['no_change']           0
1        glean         ['no_change']           0
2         fish         ['no_change']           0
3        glean         ['no_change']           0
4   shrimp_net         ['no_change']           0
..         ...                   ...         ...
94  shrimp_net         ['no_change']           0
95  shrimp_net         ['no_change']           0
96  shrimp_net         ['no_change']           0
97       glean         ['no_change']           0
98        fish             ['leave']           1

[99 rows x 3 columns]

In [453]:
df['AG1_index'] =df['AG1_scalar']

### AG2
Decision making power

In [454]:
print(df['decision_making_manag'].unique())

['not involved' 'involved']

In [455]:
# create a dictionary to replace descriptive scale values with interger scale values
dec_dic = {'not involved':0,'involved':1}

# apply function
df['AG2_scalar']=df.apply(lambda row: set_scale(dec_dic, row['decision_making_manag']), axis=1 )
df[['pract_cat','decision_making_manag','AG2_scalar']]

     pract_cat decision_making_manag  AG2_scalar
0        glean          not involved           0
1        glean              involved           1
2         fish          not involved           0
3        glean          not involved           0
4   shrimp_net          not involved           0
..         ...                   ...         ...
94  shrimp_net          not involved           0
95  shrimp_net              involved           1
96  shrimp_net          not involved           0
97       glean          not involved           0
98        fish              involved           1

[99 rows x 3 columns]

In [456]:
df['AG2_index'] =df['AG2_scalar']

# Combine Indicators

In [457]:
summary = df.groupby(['pract_cat']).agg(
    #AS1_index=('AS1_index', np.mean),
    #AS2_index=('AS2_index', np.mean),
    #AS3_index=('S1_index', np.mean),
    AS4_index=('AS4_index', np.mean),
    O1_index=('O1_index', np.mean),
    O2_index=('O2_index', np.mean),
    O3_index=('O3_index', np.mean),
    O4_index=('O4_index', np.mean),
    L1_index=('L1_index', np.mean),
    L2_index=('L2_index', np.mean),
    L3_index=('L3_index', np.mean),
    L4_index=('L4_index', np.mean),
    L5_index=('L5_index', np.mean),
    L6_index=('L6_index', np.mean),
    F1_index=('F1_index', np.mean),
    F2_index=('F2_index', np.mean),
    AG1_index=('AG1_index', np.mean),
    AG2_index=('AG2_index', np.mean)
    )

summary['Assets'] = summary['AS4_index'] 
summary['Organization'] = (summary['O1_index'] + summary['O2_index']+ summary['O3_index']+ summary['O4_index'])/4
summary['Learning'] = (summary['L1_index'] + summary['L2_index']+ summary['L3_index']+ summary['L4_index']+ summary['L5_index']+ summary['L6_index'])/6
summary['Flexibility'] =(summary['F1_index'] + summary['F2_index'])/2
summary['Agency'] =(summary['AG1_index'] + summary['AG2_index'])/2
summary['Adaptive Capacity'] = (summary['Assets'] + summary['Organization']+ summary['Learning']+ summary['Flexibility']+ summary['Agency'])/5

summary

,AS4_index,O1_index,O2_index,O3_index,O4_index,L1_index,L2_index,L3_index,L4_index,L5_index,...,F1_index,F2_index,AG1_index,AG2_index,Assets,Organization,Learning,Flexibility,Agency,Adaptive Capacity
pract_cat,,,,,,,,,,,,,,,,,,,,,
fish,0.191489,0.916667,0.645833,0.957447,0.979167,0.765957,0.861111,0.652174,0.760870,0.362319,...,0.713542,0.505208,0.395833,0.666667,0.191489,0.874778,0.705961,0.609375,0.531250,0.582571
glean,0.208333,0.875000,0.250000,0.863636,1.000000,0.521739,0.750000,0.521739,0.434783,0.333333,...,0.791667,0.791667,0.500000,0.291667,0.208333,0.747159,0.538043,0.791667,0.395833,0.536207
shrimp_net,0.200000,0.740741,0.333333,0.800000,1.000000,0.730769,0.947368,0.416667,0.521739,0.371795,...,0.611111,0.481481,0.222222,0.370370,0.200000,0.718519,0.609167,0.546296,0.296296,0.474056